@import url("https://fonts.googleapis.com/css?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css?family=Solway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bitter&display=swap");

body {
  margin: 0px;
  padding: 0px;
  background-image: url("geometricBackground.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  color: blanchedalmond;
}
#body {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

::-webkit-scrollbar {
  display: none;
}

header {
  font-size: 50px;
  color: blanchedalmond;
  font-family: Bitter;
  text-align: left;
  padding-top: 20px;
}

.sidenav {
  position: relative;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: auto;
  transition: 0.5s;
  padding-top: 60px;
  background-color: gray;
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
  background-color: black;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px !important;
  }
  .sidenav a {
    font-size: 18px !important;
  }
}

/* Active/current link */
.sideNav a.active {
  background-color: black;
  color: white;
}

/* Links on mouse-over */
.sideNav a:hover:not(.active) {
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sideNav's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sideNav into a topbar */
@media screen and (max-width: 700px) {
  .sideNav {
    width: 100% !important;
    height: auto !important;
    position: relative !important;
  }
  .sideNav a {
    float: left !important;
  }
  div.content {
    margin-left: 0 !important;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sideNav a {
    text-align: center !important;
    float: none !important;
  }
}

#sideNavOpen {
  font-size: 30px;
  color: #f1f1f1;
  cursor: pointer;
  padding-left: 20px;
  padding-top: 30px;
}

#title {
  font-family: "Solway", serif;
  color: white;
  font-size: 30px;
  text-decoration-line: underline;
}

#container {
  position: fixed;
  height: auto;
  width: 75%;
  padding: 30px;
  margin-left: 25%;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 100px;
  grid-template-areas:
    "a a b"
    "c c c"
    "c c c"
    "c c c"
    "c c c";
  align-items: start;
}

#a {
  grid-area: a;
}

#b {
  grid-area: b;
}

#profilePicture {
  height: 150px;
  width: 150px;
  border-radius: 100px;
}

@keyframes backgroundchange {
  0% {
    background-image: url("index.jpeg");
  }
  33% {
    background-image: url("icon.png");
  }
  66% {
    background-image: url("images.png");
  }
  100% {
    background-image: url("index.jpeg");
  }
}

.picture {
  border: 2px solid rgba(00, 00, 00, 0.6);
  box-shadow: 0px 2px 2px 2px rgba(00, 00, 00, 0.4);
  height: 300px;
  width: 300px;
  align-self: center;
  animation-name: backgroundchange;
  animation-duration: 8s;
  background-repeat: no-repeat;
  background-size: cover;
  animation-iteration-count: infinite;
}

.userdetails {
  padding-left: 20px;
  font-family: Solway;
  align-self: center;
  height: auto;
  width: auto;
}
 #personalDetails {
   grid-area: c;
   font-size: 30px;
   font-family: Satisfy;
 }