@import url("https://fonts.googleapis.com/css?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css?family=Solway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bitter&display=swap");

body {
  position: absolute;
  margin: 0px;
  background-image: url("blackBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
}
#body {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 700px) {
}

header {
  font-size: 50px;
  color: blanchedalmond;
  font-family: Bitter;
  text-align: left;
  padding-top: 20px;
}

#sideNav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: 0.5s;
  background-color:gray;
  color:white;
  text-decoration: solid;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  opacity: 0.6;
}

#sideNav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

#sideNav a:hover {
  background-color: wheat;
}

#sideNav .closebtn {
  position: absolute;
  top: 0;
  font-size: 36px;
  align-self: center;
}

@media screen and (max-height: 450px) {
  #sideNav {
    padding-top: 15px !important;
  }
  #sideNav a {
    font-size: 18px !important;
  }
}

/* Page content. The value of the margin-left property should match the value of the sideNav's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sideNav into a topbar */
@media screen and (max-width: 700px) {
  #container {
    margin-left: 0px !important;
    margin-top: 300px;
    width: 100% !important;
    height: auto;
  }
  #sideNav {
    width: 100% !important;
    height: 300px !important;
  }
  #sideNav a {
    float: left !important;
  }
  div.content {
    margin-left: 0 !important;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  #sideNav a {
    text-align: center !important;
    float: none !important;
  }
}

#sideNavOpen {
  position: fixed;
  font-size: 30px;
  color: white;
  cursor: pointer;
  padding-top: 30px;
  padding-left: 20px;
}

.title {
  font-family: "Solway", serif;
  color: white;
  font-size: 50px;
  text-decoration-line: underline;
  width: auto;
}

.container {
  height: 500px;
  width: auto;
  padding-top: 20px;
  color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "d e e f";
  align-items: start;
}

.personal-details {
  grid-area: e;
  font-size: 20px;
  font-family: Satisfy;
}

#intro-container {
  color: white;
  font-family: Bitter;
  font-size: 50px;
  text-align: center;
  align-self: center;
  height: 500px;
}

#intro-sub-container {
  display: grid;
  grid-template-columns: (3, 1fr);
  grid-template-areas:
    "a b b";
  align-items: start;
}

#name {
  grid-area: b;
}

#profile-picture {
  grid-area: a;
}
#profilePicture {
  height: 400px;
  width: 400px;
  border-radius: 200px;
}

#intro-box {
  position: fixed;
  top: 10px;
  right: 10px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  grid-area: f ;
}

#picture-small {
  height: 80px;
  width: 80px;
  border-radius: 40px;
}

#name-small {
  font-family: Solway;
  font-size: 30px;
  color: white;
}


.block {
  height: 5em;
  line-height: 5em;
  width: 10em;
  color: #fdfdfd;
  text-align: center;
  margin: 1em auto;
  text-shadow: 0 0 1px #333; /* so one can see fadeBgColor properly */
}

.animatable {
  /* initially hide animatable objects */
  visibility: hidden;

  /* initially pause animatable objects their animations */
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

/* show objects being animated */
.animated {
  visibility: visible;

  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
